In [2]:
import pandas as pd

In [9]:
#Usage summary table
#Each row = each day user logged into product

#SORTED by user_id; not DATE

engage = pd.read_csv("takehome_user_engagement.csv")
engage.head(30)

             time_stamp  user_id  visited
0   2014-04-22 03:53:30        1        1
1   2013-11-15 03:45:04        2        1
2   2013-11-29 03:45:04        2        1
3   2013-12-09 03:45:04        2        1
4   2013-12-25 03:45:04        2        1
5   2013-12-31 03:45:04        2        1
6   2014-01-08 03:45:04        2        1
7   2014-02-03 03:45:04        2        1
8   2014-02-08 03:45:04        2        1
9   2014-02-09 03:45:04        2        1
10  2014-02-13 03:45:04        2        1
11  2014-02-16 03:45:04        2        1
12  2014-03-09 03:45:04        2        1
13  2014-03-13 03:45:04        2        1
14  2014-03-31 03:45:04        2        1
15  2013-03-19 23:14:52        3        1
16  2013-05-22 08:09:28        4        1
17  2013-01-22 10:14:20        5        1
18  2013-12-19 03:37:06        6        1
19  2012-12-20 13:24:32        7        1
20  2013-01-16 22:08:03       10        1
21  2013-01-22 22:08:03       10        1
22  2013-01-30 22:08:03       10        1
23  2013-02-04 22:08:03       10        1
24  2013-02-06 22:08:03       10        1
25  2013-02-14 22:08:03       10        1
26  2013-02-17 22:08:03       10        1
27  2013-02-19 22:08:03       10        1
28  2013-02-26 22:08:03       10        1
29  2013-03-01 22:08:03       10        1

In [4]:
engage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [57]:
users = pd.read_csv("takehome_users.csv")
users.head(10)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0

In [7]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [27]:
#Sort "engage" by users' number of visits

#Output user_id's that have cumulative =>3 visited

visits = engage["user_id"].value_counts()
visits[visits >= 3]
 
#Based on this, can see that out of 207917 time stamps, there are 2248 users who have logged in 
#to their device 3 or more instances. 

#Need to see how spread apart are these log-ins...7 days or more?

3623     606
906      600
1811     593
7590     590
8068     585
9402     581
4022     580
3269     566
9312     547
7210     545
8029     541
2474     538
2658     526
8280     521
69       521
5297     520
4019     519
9083     517
2519     511
4263     509
3226     502
10599    501
6312     500
10953    499
8426     496
2316     496
603      489
2078     488
8768     487
445      487
        ...
1742       3
10058      3
788        3
5730       3
9232       3
11250      3
8802       3
11213      3
455        3
10820      3
3220       3
2624       3
9959       3
3318       3
277        3
2714       3
6414       3
6569       3
3323       3
5145       3
9284       3
11851      3
6808       3
9318       3
8047       3
6090       3
8464       3
5528       3
6900       3
7310       3
Name: user_id, Length: 2248, dtype: int64

In [ ]:
#First try outputting all log-in time-stamps for users 3623 and 906.

In [19]:
engage[engage['user_id'] == 3623][:9] #9 entries worth

#Already see that first set of three logins span 6 days, second set of three log-ins span 10 days,
#third set of three logins span 10 days

                time_stamp  user_id  visited
62717  2012-06-27 14:34:33     3623        1
62718  2012-07-01 14:34:33     3623        1
62719  2012-07-02 14:34:33     3623        1
62720  2012-07-04 14:34:33     3623        1
62721  2012-07-08 14:34:33     3623        1
62722  2012-07-13 14:34:33     3623        1
62723  2012-07-14 14:34:33     3623        1
62724  2012-07-21 14:34:33     3623        1
62725  2012-07-23 14:34:33     3623        1

In [206]:
engage[engage['user_id'] == 906][:9] #9 entries worth

#Already see that first set of three logins span 31 days, second set of three logins span 7 days,
#third set of three logins span 13 days

                time_stamp  user_id  visited     user_type
14796  2012-06-18 22:49:52      906        1  adopted user
14797  2012-06-25 22:49:52      906        1  adopted user
14798  2012-07-09 22:49:52      906        1  adopted user
14799  2012-07-10 22:49:52      906        1  adopted user
14800  2012-07-16 22:49:52      906        1  adopted user
14801  2012-07-17 22:49:52      906        1  adopted user
14802  2012-07-18 22:49:52      906        1  adopted user
14803  2012-07-26 22:49:52      906        1  adopted user
14804  2012-07-31 22:49:52      906        1  adopted user

In [204]:
engage[engage['user_id'] == 1811][:9] #9 entries worth

#Already see that first set of three logins span 30 days, second set of three logins span 7 days,
#third set of three logins span 9 days

                time_stamp  user_id  visited     user_type
29235  2012-06-24 16:09:31     1811        1  adopted user
29236  2012-07-23 16:09:31     1811        1  adopted user
29237  2012-07-24 16:09:31     1811        1  adopted user
29238  2012-07-29 16:09:31     1811        1  adopted user
29239  2012-07-31 16:09:31     1811        1  adopted user
29240  2012-08-05 16:09:31     1811        1  adopted user
29241  2012-08-10 16:09:31     1811        1  adopted user
29242  2012-08-12 16:09:31     1811        1  adopted user
29243  2012-08-19 16:09:31     1811        1  adopted user

In [208]:
engage[engage['user_id'] == 7590][:9] #9 entries worth

#Already see that first set of three logins span 7 days, second set of three logins span 11 days,
#third set of three logins span 5 days

                 time_stamp  user_id  visited     user_type
132455  2012-06-11 00:51:13     7590        1  adopted user
132456  2012-06-13 00:51:13     7590        1  adopted user
132457  2012-06-18 00:51:13     7590        1  adopted user
132458  2012-06-25 00:51:13     7590        1  adopted user
132459  2012-07-05 00:51:13     7590        1  adopted user
132460  2012-07-06 00:51:13     7590        1  adopted user
132461  2012-07-07 00:51:13     7590        1  adopted user
132462  2012-07-09 00:51:13     7590        1  adopted user
132463  2012-07-12 00:51:13     7590        1  adopted user

In [ ]:
#After manually counting some time differences, four users- 3623, 906, 1811 and 7590 qualify as "adopted user".

In [28]:
engage.loc[engage['user_id'] == 3623, 'user_type'] = 'adopted user'
engage.loc[engage['user_id'] == 906, 'user_type'] = 'adopted user'

In [30]:
#Verifying new user_type column got added based on condition placed on user_id column
engage[62717:62726]

                time_stamp  user_id  visited     user_type
62717  2012-06-27 14:34:33     3623        1  adopted user
62718  2012-07-01 14:34:33     3623        1  adopted user
62719  2012-07-02 14:34:33     3623        1  adopted user
62720  2012-07-04 14:34:33     3623        1  adopted user
62721  2012-07-08 14:34:33     3623        1  adopted user
62722  2012-07-13 14:34:33     3623        1  adopted user
62723  2012-07-14 14:34:33     3623        1  adopted user
62724  2012-07-21 14:34:33     3623        1  adopted user
62725  2012-07-23 14:34:33     3623        1  adopted user

In [95]:
engage[14796:14805]

                time_stamp  user_id  visited     user_type
14796  2012-06-18 22:49:52      906        1  adopted user
14797  2012-06-25 22:49:52      906        1  adopted user
14798  2012-07-09 22:49:52      906        1  adopted user
14799  2012-07-10 22:49:52      906        1  adopted user
14800  2012-07-16 22:49:52      906        1  adopted user
14801  2012-07-17 22:49:52      906        1  adopted user
14802  2012-07-18 22:49:52      906        1  adopted user
14803  2012-07-26 22:49:52      906        1  adopted user
14804  2012-07-31 22:49:52      906        1  adopted user

In [31]:
#Part II.
#What makes them an "adopted user"?

#Now that it has been determined which users are "adopted user's", need to figure out 
#what factors into multiple log-ins into devices.

#Some features that will be considered for this model will be: 

#'creation_source', 'opted_in_to_mailing_list' & 'enabled_for_marketing_drip'

# creation_source tells how 'adopted user' would first get onboard and 'opted_in_to_mailing_list' & 
#'enabled_for_marketing_drip' show their level of commitment and therefore their continual usage

In [63]:
#Match up 'adopted user' user_id with 'object_id' in second table

#For 'adopted user's 906 & 3623:

users.iloc[[905]]

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
905,906,2012-06-17 22:49:52,Becker Jessika,JessikaBecker@gmail.com,SIGNUP_GOOGLE_AUTH,1.401922e+09,0,0,358,NaN

In [64]:
users.iloc[[3622]]

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
3622,3623,2012-06-25 14:34:33,Melo Vitria,VitoriaAlvesMelo@jourrapide.com,ORG_INVITE,1.401201e+09,0,0,364,3623.0

In [ ]:
#looking at a couple more users who visited => 3

In [ ]:
#For 'adopted user's 1811 & 7590:

In [67]:
users.iloc[[1810]]

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
1810,1811,2012-06-19 16:09:31,Carvalho Eduardo,EduardoCunhaCarvalho@gmail.com,SIGNUP_GOOGLE_AUTH,1.400948e+09,1,1,33,NaN

In [68]:
users.iloc[[7589 ]]

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
7589,7590,2012-06-08 00:51:13,Ferreira Rebeca,ffickuvv@qqgix.com,PERSONAL_PROJECTS,1.401843e+09,0,0,225,NaN

In [84]:
#See which features they have that indicate consistent use. These will be features fed into
# Decision Tree/Random Forest model.

#First, looking at creation_source:

In [77]:
#user1

users.iloc[[905]][['creation_source']]

        creation_source
905  SIGNUP_GOOGLE_AUTH

In [80]:
# user2:

users.iloc[[3622]][['creation_source']]

     creation_source
3622      ORG_INVITE

In [81]:
# user3:

users.iloc[[1810]][['creation_source']]

         creation_source
1810  SIGNUP_GOOGLE_AUTH

In [82]:
# user4:
                  
users.iloc[[7589]][['creation_source']]

        creation_source
7589  PERSONAL_PROJECTS

In [ ]:
#Second, looking at opted_in_to_mailing_list:

In [85]:
#user1

users.iloc[[905]][['opted_in_to_mailing_list']]

     opted_in_to_mailing_list
905                         0

In [86]:
#user2

users.iloc[[3622]][['opted_in_to_mailing_list']]

      opted_in_to_mailing_list
3622                         0

In [87]:
#user3

users.iloc[[1810]][['opted_in_to_mailing_list']]

      opted_in_to_mailing_list
1810                         1

In [88]:
#user4

users.iloc[[7589]][['opted_in_to_mailing_list']]

      opted_in_to_mailing_list
7589                         0

In [ ]:
#Third, looking at enabled_for_marketing_drip:

In [89]:
#user1

users.iloc[[905]][['enabled_for_marketing_drip']]

     enabled_for_marketing_drip
905                           0

In [90]:
#user2

users.iloc[[3622]][['enabled_for_marketing_drip']]

      enabled_for_marketing_drip
3622                           0

In [91]:
#user3

users.iloc[[1810]][['enabled_for_marketing_drip']]

      enabled_for_marketing_drip
1810                           1

In [92]:
#user4

users.iloc[[7589]][['enabled_for_marketing_drip']]

      enabled_for_marketing_drip
7589                           0

In [99]:
#Based on variation in creation_source feature, 'opted_in_to_mailing_list' & 'enabled_for_marketing_drip'
#used as features in order to predict future user adoption.

#So for each set of 'opted_in_to_mailing_list' & 'enabled_for_marketing_drip', output would be
#'adopted user' which was translated to integer 1.0.


##Breakdown
#Need to make four sample points, then:

# 1. add "adopted user" label to each row
# 2. combine four sample rows together
# 3. drop irrelevant columns, leaving only "object_id", "opted_in_to_mailing_list" and "enabled_for_marketing_drip"
# 4. set up trainx and trainy
# 5. feed these into .fit to build models
# 6. .predict to predict on training set and test set

In [174]:
#1.
users.loc[users['object_id'] == 3623, 'adopted_user'] = 1
users.loc[users['object_id'] == 906, 'adopted_user'] = 1
users.loc[users['object_id'] == 1811, 'adopted_user'] = 1
users.loc[users['object_id'] == 7590, 'adopted_user'] = 1

In [176]:
del users['user_type']

In [177]:
#2.
frame = [users.iloc[[3622]], users.iloc[[905]], users.iloc[[1810]], users.iloc[[7589]]]
result = pd.concat(frame)
result

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
3622,3623,2012-06-25 14:34:33,Melo Vitria,VitoriaAlvesMelo@jourrapide.com,ORG_INVITE,1.401201e+09,0,0,364,3623.0,1.0
905,906,2012-06-17 22:49:52,Becker Jessika,JessikaBecker@gmail.com,SIGNUP_GOOGLE_AUTH,1.401922e+09,0,0,358,NaN,1.0
1810,1811,2012-06-19 16:09:31,Carvalho Eduardo,EduardoCunhaCarvalho@gmail.com,SIGNUP_GOOGLE_AUTH,1.400948e+09,1,1,33,NaN,1.0
7589,7590,2012-06-08 00:51:13,Ferreira Rebeca,ffickuvv@qqgix.com,PERSONAL_PROJECTS,1.401843e+09,0,0,225,NaN,1.0

In [178]:
3.
result.drop(['creation_time', 'name', 'email', 'creation_source', 'last_session_creation_time', 'org_id', 'invited_by_user_id'], axis=1, inplace=True)

In [179]:
result

,object_id,opted_in_to_mailing_list,enabled_for_marketing_drip,adopted_user
3622,3623,0,0,1.0
905,906,0,0,1.0
1810,1811,1,1,1.0
7589,7590,0,0,1.0

In [180]:
users.iloc[[7589]]

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
7589,7590,2012-06-08 00:51:13,Ferreira Rebeca,ffickuvv@qqgix.com,PERSONAL_PROJECTS,1.401843e+09,0,0,225,NaN,1.0

In [181]:
train = result[:3] #Training Set
train

,object_id,opted_in_to_mailing_list,enabled_for_marketing_drip,adopted_user
3622,3623,0,0,1.0
905,906,0,0,1.0
1810,1811,1,1,1.0

In [182]:
test = result[3:4] #Test Set
test

,object_id,opted_in_to_mailing_list,enabled_for_marketing_drip,adopted_user
7589,7590,0,0,1.0

In [184]:
#Setting up Training dataset

trainx = train.drop('adopted_user', axis = 1)

trainy = train['adopted_user']

In [185]:
#Setting up Testing Dataset

testx = test.drop('adopted_user', axis = 1)

testy = test['adopted_user']

In [192]:
##.fit to build Linear Regression (L.R.) Model

from sklearn.linear_model import LinearRegression
from sklearn import linear_model

lm = linear_model.LinearRegression().fit(trainx, trainy)
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [193]:
#Predicting on Training dataset

lm_train_predictions =  lm.predict(trainx)
lm_train_predictions

array([ 1.,  1.,  1.])

In [194]:
#L.R. Training dataset RMSE

from sklearn.metrics import mean_squared_error
import numpy as np

calories_predictions = lm_train_predictions
lin_mse = mean_squared_error(trainy, calories_predictions)
tr_lin_rmse = np.sqrt(lin_mse)
tr_lin_rmse

0.0

In [195]:
#Predicting on Test dataset
lm_test_predictions = lm.predict(testx)
lm_test_predictions

array([ 1.])

In [196]:
#Test set RMSE

calories_predictions2 = lm_test_predictions
lin_mse = mean_squared_error(testy, calories_predictions2)
te_lin_rmse = np.sqrt(lin_mse)
te_lin_rmse

0.0

In [186]:
#.fit to build Decision Tree (D.T.) model

from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

param_grid = [{'max_depth': [0.5, 1, 2, 3, 4]}]

tree_reg = DecisionTreeRegressor()

grid_search = GridSearchCV(tree_reg, param_grid, cv = 3, scoring = 'neg_mean_squared_error')

grid_search.fit(trainx, trainy)

#Getting best estimator directly. Inputting results in refit Decision Tree model.
grid_search.best_estimator_

DecisionTreeRegressor(criterion='mse', max_depth=0.5, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [187]:
#Training Decision Tree (D.T.) Model 

#Now with optimized parameters, can .fit model with tuned settings:

tree_reg = DecisionTreeRegressor(max_depth = 0.5)
tree_reg.fit(trainx,trainy)

DecisionTreeRegressor(criterion='mse', max_depth=0.5, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [188]:
#Predicting on Training dataset

tree_reg_train_predictions = tree_reg.predict(trainx)
tree_reg_train_predictions

array([ 1.,  1.,  1.])

In [197]:
#Training dataset RMSE

calories_predictions3 = tree_reg_train_predictions
tree_mse = mean_squared_error(trainy, calories_predictions3)
tr_tree_rmse = np.sqrt(tree_mse)
tr_tree_rmse

0.0

In [198]:
#Predicting on Test dataset

tree_reg_test_predictions = tree_reg.predict(testx)
tree_reg_test_predictions

array([ 1.])

In [199]:
#Test dataset RMSE

calories_predictions4 = tree_reg_test_predictions
tree_mse = mean_squared_error(testy, calories_predictions4)
te_tree_rmse = np.sqrt(tree_mse)
te_tree_rmse

0.0

In [201]:
#Summary Table of Model Performance Metrics

import plotly.plotly as py
import plotly.figure_factory as ff

data_matrix = [['RMSE for:', 'L.R.', 'D.T.'],
               ['Training', tr_lin_rmse, tr_tree_rmse],
               ['Test', te_lin_rmse, te_tree_rmse]]

table = ff.create_table(data_matrix)
py.iplot(table, filename='simple_table')

In [210]:
#Considerations/#Recommendations/Further Research

#Some considerations for code are:
# 1. automate verification when checking if three log-in times span 7 days or more to be qualified as an
# "adopted user"
# 2. Have a greater sample size when training models so RMSE's are not 0.0, but reflect reality that models
# will not be perfect. 

# #Considerations for data:
# Have more features to select from in order to better determine/predict an "adopted user".
# For example, instead of just log-in's, have usage data on certain services they use
# in order to determine level of user engagement.
# Otherwise, with current features, there is a lot of extrapolation with how a user gets "adopted"
# because data on how a user's account got started does not directly relate to how a user commits to a 
# service provider.